@import '../../utilities/styles/variable.scss';
@import '../../utilities/styles/fonts.scss';

:host(){
    display: block;
}
.nav-container {
    box-shadow: 7px 0 10px -9px rgba(71, 87, 185, 0.2);
    width: 265px;
    margin-left: -10px;
    overflow: hidden;
    background-color:$primary-color2;
    & .list-container {
        margin: 0;
        list-style-type: none;
        padding: 20px 20px;
        & .nav-button {
            padding: 20px 10px;
            display: flex;
            & .router-icons{
                margin-right: 12px;
                width: 20px;
                height: 20px;
            }
        }
        & .nav-button a{
            color: $primary-color1;
            font-size: 1rem;
            font-family: RobotoRegular;
            text-decoration: none;
        }
    }
}

// @media only screen and (min-width: 768px){
//     :host(){
//         max-width: 72rem;
//         margin: 0 auto;
//     }
//     .nav-container {
//         box-shadow: none;
//         & .list-container {
//             & .nav-button {
//                 display: inline;
//             }
//             & .nav-button:has(.habit-active) {
//                 background-color: red;
//             }
//             & .nav-button a{
//                 color: $primary-color4;              
//             }
//         }

//     }
// }