@font-face {
    font-family: BearSkin;
    src: url(../../../assets/fonts/bearskin/Bearskin.otf) format("opentype");
}
@font-face {
    font-family: PrintNeat;
    src: url(../../../assets/fonts/kg-neatly-printed/KGNeatlyPrinted.ttf) format("truetype");
}
@font-face {
    font-family: LatoBlack;
    src: url(../../../assets/fonts/lato/Lato-Black.ttf) format("truetype");
}
@font-face {
    font-family: RobotoRegular;
    src: url(../../../assets/fonts/roboto-condensed/RobotoCondensed-Regular.ttf) format("truetype");
}