$primary-color1: #4556CD;
$primary-color2: #fff;
$primary-color3: #EDEEF3;
$primary-color4: #5b456d;
$secondary-color1:rgb(221, 217, 217);
$secondary-color2: #0fe0a6;
$secondary-color3: #808080;
$box-shadow: 0 0  15px 0 rgba(71, 87, 185, 0.1);

$helvetica-arial-font: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
$roboto-arial-font: Roboto,Arial,sans-serif;

// #eeecef #fff whitesmoke hsl(280,8,93)rgb(238,236,239)