<div class="goal-card" *ngFor="let goals of goalList">
  <div class="options">
    <button class="delete-button" [attr.data-id]="goals.id" (click)="deleteGoals($event)"></button>
  </div>
  <h2 class="title">{{goals.title}}</h2>
  <div class="description">{{goals.description}}</div>
  <div class="end-date">{{formatDate(goals.endDate)}}</div>
  <!-- <div>{{habit.totalTask}}</div> -->
  <div class="progress-bar">
      <!-- {{calcCompleteTask(habit.subTasks,habit.id)}} -->
      <span class="progress-container"></span>
      <span class="progress-slider" [attr.data-width]="calcProgress(goals.habitsList)"
        [style.width]="calcProgress(goals.habitsList)"></span>
  </div>
  <div class="priority">{{goals.priority}}</div>
</div>