/* You can add global styles to this file, and also import other style files */
body{
    font-family: 'Slabo 27px', serif;

}
body .add-modal>*:not(.formContent) {
    filter: blur(2px);
}
html,body {
    margin: 0;
    height: 100%;
}
button {
    background: transparent;
    border: none;
    cursor: pointer;
}