@import "../../utilities/styles/variable.scss";
@import "../../utilities/styles/fonts.scss";

:host {
    display: block;
}

button {
    cursor: pointer;
}

.add-habits-modal {
    border-radius: 6px;
    background: rgba(237, 238, 243,0.85);

    & .header {
        font-family: PrintNeat;
        text-transform: uppercase;
        margin-top: 10px;
        color: $primary-color4;
        margin-bottom: 0;
    }

    & .form-content {
        padding: 30px;
        max-height: 400px;
        overflow: scroll;

        // width: 50%;
        text-align: center;
    }

    & .form-group {
        position: relative;

        label {
            margin: 20px 0;
            display: inline-block;
        }

        & .description-label {
            display: block;
            margin-top: 0;

            & .input-box {
                display: block;
                padding: 10px;
                resize: none;
            }
        }

        & .estimate-label {
            width: 23%;
            margin-left: 20px;
        }

        & .title-label {
            width: 69%;
        }

        & .input-box {
            box-sizing: border-box;
            display: inline-block;
            width: 100%;
            background-color: transparent;
            outline: none;
            border: 0;
            color: $primary-color4;
            border-bottom: 1px solid rgba(91, 69, 109,0.3);
            text-align: center;
            height: 40px;
            font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
            // opacity: 0.5;
            font-size: 14px;

            &::placeholder {
                text-align: center;
                opacity: 0.5;
            }
            &:focus {
                border-bottom: 2px solid rgba(91, 69, 109,0.5);
            }
            &.ng-invalid.ng-touched {
                border-bottom: 2px solid rgba(210, 74, 74, 0.6);
                background-color:rgba(255, 161, 161, 0.2);
            }
        }

        & .add-button {
            background-image: url("../../../assets/images/add-icon.png");
            width: 18px;
            height: 18px;
            position: absolute;
            right: 0;
            bottom: 10px;
            background-size: cover;
            border: none;
        }
        & .sub-task-list:last-of-type .add-sub-task{
            display: none;
        }

        & .subtask-container {
            margin: 20px 0;
            text-align: left;
            & .subtask-label {
                margin: 0;
                width: 89%;
            }

            & .add-sub-task {
                margin-left: 14px;
                width: 18px;
                height: 18px;
                vertical-align: middle;
                cursor: pointer;
                background-color: transparent;
                background-size: cover;
                background-image: url("../../../assets/images/delete.png");

                // &:last-of-type {
                //     background: transparent;
                // }
           
            }
        }
    }

    & .submit-buttom {
        margin: 10px 0;
        border: none;
        width: 110px;
        border-radius: 6px;
        font-family: RobotoRegular;
        letter-spacing: 1px;
        font-size: 14px;
        background-color: $primary-color4;
        height: 40px;
        color: white;
    }
}
